<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

</head>

<body>
    <div class="container">
        <header>
            <img src="{{ site.baseurl}}/assets/images/foto.jpg" alt="Profile Picture" class="profile-picture">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
        </header>
    </div>
    {% include navigation.html %} 
     {{ content }}
</body>
</html>